<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="PhoneBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                </sectionGroup>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="PhoneBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
                </sectionGroup>
        </configSections>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
        <system.serviceModel>
                <bindings/>
                <client/>
        </system.serviceModel>
        <applicationSettings>
                <PhoneBook.Properties.Settings>
                        <setting name="PhoneBook_sp_Lists" serializeAs="String">
                                <value>http://srv-shpf01/_vti_bin/Lists.asmx</value>
                        </setting>
                        <setting name="PhoneBook_SharePointSites_Sites" serializeAs="String">
                                <value>http://srv-shpf01/_vti_bin/Sites.asmx</value>
                        </setting>
                </PhoneBook.Properties.Settings>
        </applicationSettings>
        <userSettings>
                <PhoneBook.Properties.Settings>
                        <setting name="UserLogin" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="UserPassword" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="SaveUserAccount" serializeAs="String">
                                <value>True</value>
                        </setting>
                        <setting name="UpdateMSSQL" serializeAs="String">
                                <value>True</value>
                        </setting>
                        <setting name="UpdateSharePoint" serializeAs="String">
                                <value>True</value>
                        </setting>
                        <setting name="DefaultRepository" serializeAs="String">
                                <value>GetSqlEmployeeList</value>
                        </setting>
                        <setting name="ColorTheme" serializeAs="String">
                                <value>DefaultTheme</value>
                        </setting>
                        <setting name="ContactPriority" serializeAs="String">
                                <value>False</value>
                        </setting>
                </PhoneBook.Properties.Settings>
        </userSettings>
</configuration>
